.header-bar{
  width: 100%;
  height: 100%;
  position: relative;
  .sider-trigger-a{
    color: #ee2e2e;
    transition: all .5s ease 0s;
    transform: rotate(0deg);
  }
  .silder-show{
    transform: rotate(90deg);
  }
  .custom-content-con{
    float: right;
    height: auto;
    line-height: 50px;
    & > *{
      float: right;
    }
  }
}
