.partCheck-hd{
  //border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.partCheck-left{
  border:1px solid #ddd;
  width: 200px;
  .partCheck-left-tit{
    text-align: center;
    border-bottom: 1px solid #ddd;
    line-height: 36px;
  }
}
.partCheck-left-tree{
  padding: 10px;
}

.custom-main{
  border-top: 1px solid #ddd;
  .custom-type-hd{
    padding: 10px 0 6px;
  }
  .tag-span{
    cursor: pointer;
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    padding: 4px 10px;
    border-radius: 2px;
    &.active{
      background: #fd5c5c;
      border-color: #fd5c5c;
      color: #fff;
    }
  }
}
