@import '~iview/src/styles/index.less';

@primary-color          : #fb423f;
@info-color          : #03a9f4;
@warning-color          : #f57e16;

@border-color-base      : #ddd;

@border-radius-base     : 2px;

@menu-dark-title        : #001529;
@menu-dark-active-bg    : #000c17;

@layout-sider-background: #fff;

@link-color             : #607d8b;
@text-color             : #242424;
@link-hover-color       : #03a9f4;

@table-td-hover-bg      :#fafafa;

//button
@btn-border-radius      : 2px;
@btn-padding-base       : 5px 20px;
@btn-primary-hover-bg   : #d73b2f;

.ivu-btn{
  &:focus{
    box-shadow: none;
  }
}

.ivu-btn-primary{
  background: @primary-color;
  &:hover{
    background: @btn-primary-hover-bg;
  }
  &:focus{
    box-shadow: none;
  }
  &:active{
    background: @primary-color;
  }
}
.delete-txt{
  color: @primary-color;
  &:hover{
    color: @btn-primary-hover-bg;
  }
  &:active{
    color: @primary-color;
  }
}




